* {
    font-family: 'PT Serif', serif;
    list-style: none;
}

body {
    margin: none;
    display: grid;
}

.preHeader {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 30px;
    margin-right: 25px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -250px;
    color: rgb(73, 73, 73);
}

.header h1 {
    font-size: 80px;
    margin-bottom: -15px;
}

.section1 {
    margin-top: 250px;
    margin-left: -30px;
    display: flex;
    justify-content: space-around;
    align-items:baseline;
}


.games-header {
    display: flex;
    color: rgb(73, 73, 73);
}

.games .span span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.apps-header {
    display: flex;
    color: rgb(73, 73, 73);
}

.apps .span span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.links-header {
    display: flex;
    color: rgb(73, 73, 73);
}

.links .span span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
}

p {
    margin-left: 40px;
}

a {
    margin-left: -45px;
    text-decoration: none;
    transition: 0.4s;

}

a:visited, a:link {
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    opacity: 0.7;
}

a:hover {
    opacity: 0.9;
}

.preHeader a {
    color: rgb(68, 68, 68);
}

.material-symbols-outlined {
    display: flex;
    align-items: center;
}

.games .apps .links {
    display: flex;
    flex-direction: column;
}

ul {
    margin-left: 40px;
    border-left: 1px solid lightgrey;
}

