* {
    font-family: 'PT Serif', serif;
    list-style: none;
}

body {
    margin: none;
    display: grid;
}

.section1 {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    flex-direction: column;
}

p {
    margin-left: 40px;
}

a {
    text-decoration: none;
    transition: 0.4s;

}

a:visited, a:link {
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    opacity: 0.7;
}

a:hover {
    opacity: 0.9;
}

h1 {
    font-size: 80px;
}

.material-symbols-outlined {
    display: flex;
    align-items: center;
}

.preHeader {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -250px;
    

}

.games .apps .links {
    display: flex;
    flex-direction: column;


}

